@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/header";
@use "@styles/main";

.header {
	justify-content: space-between;

	& .finish {
		color: color.$green-500;
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: space.$s2;
	box-sizing: border-box;
	padding: space.$s2;
	color: color.$gray-100;
	font: font.$text-regular;

	& label {
		width: 100%;
	}

	& input {
		width: 100%;
		border: space.$s0-1 solid color.$gray-500;
		border-radius: space.$s1;
		box-sizing: border-box;
		padding: space.$s2;
	}
}

.balance {
	display: flex;
}

.flowContainer {
	width: 40%;
	display: flex;
	border: space.$s0-1 solid color.$gray-500;
	border-radius: space.$s1;
	margin-right: space.$s2;

	& div {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	& .inflow {
		background-color: color.$green-500;
	}

	& .outflow {
		background-color: color.$red-500;
	}

	& .flow {
		background-color: color.$primary-dark;
	}

	& .border {
		background-color: color.$gray-500;
		width: space.$s0-1;
		height: 100%;
	}
}
