@use "@styles/color";
@use "@styles/space";

.unassigned {
    height: space.$s20;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 space.$s2;

    div {
        height: fit-content;
        border-radius: space.$s2;
        background-color: color.$green;
        padding: space.$s4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
    }

    button {
        padding: 0rem 1rem;
        border-radius: 3px;
        background-color: color.$light-gray;
        color: color.$primary-dark;
    }
    
}

