@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.navigation {
    background-color: color.$secondary-dark;
    border-top: space.$s0-1 solid color.$gray-500;
    width: 100vw;
    height: space.$s15;
    display: flex;
    position: fixed;
    bottom: 0;

    & button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex: 1;
        color: color.$gray-400;
        font: font.$button-navigation;
    }

    & img {
        width: 24px;
        height: 24px;
    }

    & .budgetSelected {
        color: color.$gray-100;
    }

    & .transactionSelected {
        color: color.$gray-100;
    }

    & .accountsSelected {
        color: color.$gray-100;
    }
}