@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.subcategory {
	background: color.$primary-dark;
	color: white;
	display: flex;
	align-items: center;
	padding: space.$s2 space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;

	& input[type="text"] {
	margin: 0;
	padding: 0;
	outline: none;
	background: none;
	border: none;
	box-sizing: border-box;
	color: white;
}
}

.subcategoryName {
	width: 50%;
}

.allocation {
	width: 25%;
	display: flex;
	justify-content: flex-end;

	& span {
		background-color: color.$green;
		color: color.$primary-dark;
		padding: 0 space.$s1;
		border-radius: space.$s2;
		margin-right: calc(-1 * space.$s1);
	}
}

.empty {
	& span {
		background-color: color.$gray-700;
		color: color.$gray-100;
	}
}

.negative {
	& span {
		background-color: red;
	}
}

.input {
	width: 25%;
	max-width: 100%;
	text-align: end;
	font: font.$text-regular;
}
