@use "@styles/color";
@use "@styles/space";

.subcategory {
	background: color.$primary-dark;
	color: white;
	display: flex;
	align-items: center;
	padding: space.$s2 space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;
}

.subcategoryName {
	width: 50%;
}

.allocation {
	width: 25%;
	display: flex;
	justify-content: flex-end;

	& span {
		background-color: color.$green;
		padding: 0 space.$s1;
		border-radius: space.$s2;
		margin-right: calc(-1 * space.$s1);
	}

	input {
		margin: 0;
		padding: 0;
		max-width: 100%;
        text-align: end;

		/* Reset border */
		border: none;

		/* Reset outline (focus indicator) */
		outline: none;

		/* Reset box-sizing to content-box (optional, depending on your layout needs) */
		box-sizing: content-box;

		/* Reset font styles */
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;

		/* Reset background, color, and other appearance styles */
		background: red;
		color: inherit;
		appearance: none;
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
