@use "@styles/color";
@use "@styles/font";
@use "@styles/space";


.topbarContainer {
	padding: space.$s3-1 space.$s2-1;
	display: flex;
	background-color: color.$primary-dark;
	align-items: center;
	gap: space.$s4;
}

.dateDisplay {
	//margin-left = widthOfIcon + gapSize
	margin-left: calc(space.$s6 + space.$s4);
	display: flex;
	justify-content: center;
	flex: 1 0 0;
	gap: space.$s2;

	& span {
		align-self: center;
		color: white;
	}
}

.datePicker {
	background: color.$primary-dark;
	margin: 0 12.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: space.$s3;
	color: white;

	& header {
		width: 100%;
		height: fit-content;
		display: flex;
		align-items: center;
		padding: space.$s2 space.$s2 0 space.$s2;
		box-sizing: border-box;
		position: relative;

		& h1 {
			text-align: center;
			flex: 1 0 0;
		}
	}

	& table {
		width: 100%;
		border-spacing: 16px;
	}

	& td {
		background-color: blue;
		padding: 8px 0;
		border-radius: 8px;
		text-align: center;
		font: font.$text-sm-medium;
	}
}