@use "@styles/color";
@use "@styles/space";

.editItem {
    color: white;
	display: flex;
    border-bottom: space.$s0-1 solid color.$gray-500;
    gap: space.$s4;
    align-items: center;

    input[type="text"] {
		// Reset
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font: inherit;
		color: inherit;
        flex: 1;
	}
}

.editCategory {
	background: color.$secondary-dark;
	padding: space.$s2 space.$s2;
}

.editSubcategory {
    background-color: color.$primary-dark;
    padding: space.$s4 space.$s2;
}



