@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/header";
@use "@styles/main";
@use "@styles/subpage";

.header {
	justify-content: center;
}

.accountItem {
	color: white;
	background-color: color.$primary-dark;
	padding: space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;
	display: flex;
	justify-content: space-between;
}

.totalItem {
	background-color: color.$secondary-dark;
	font-weight: bold;
}

.subpageButtonContainer {
	padding: space.$s2;
	display: flex;
	flex-direction: column;
	gap: space.$s2;
}

.subpageButton {
	width: 100%;
	color: white;
	background-color: color.$gray-500;
	padding: space.$s2 space.$s2;
	border: 0;
	border-radius: space.$s1;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& img {
		width: space.$s5;
		height: space.$s5;
	}
}

.addAccount {
	width: 100%;
	height: 0;
	background-color: color.$primary-dark;
	bottom: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	color: white;

	& div {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: space.$s4;
		gap: space.$s4;

		& input {
			padding: 0;
			outline: none;
			background: none;
			font: inherit;
			color: white;
			border: space.$s0-1 solid color.$gray-500;
			border-radius: space.$s1;
			padding: space.$s2;
		}
	}
}

