@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.accountsHeader {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: color.$secondary-dark;
}

.empty {
    width: space.$s5;
}