@use "@styles/color";
@use "@styles/space";

.editSubcategoryItem {
	height: space.$s15;
	display: flex;
	align-items: center;
	gap: space.$s2; 
	box-sizing: border-box;
	padding: space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;
	background-color: color.$primary-dark;
	

	input[type="text"] {
		font: inherit;
		flex: 1;
	}

	input[type="checkbox"] {
		display: none;
	}
}

.editSubcategory {
	box-sizing: border-box;
	background-color: color.$primary-dark;
	padding: space.$s4 space.$s2;
}

