@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.headerLeft {
    height: inherit;
    flex: 1;

    & button {
        height: 100%;
    }
}

.headerRight {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: space.$s2;
    flex: 1;

    & button {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.cancel {
    color: color.$red-500;
}

.confirm {
    color: color.$green-500;
}