@use "@styles/color";
@use "@styles/space";

.editCategoryItem {
	height: space.$s15;
	display: flex;
	align-items: center;
	gap: space.$s2; 
	box-sizing: border-box;
	padding: space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;

	input[type="text"] {
		font: inherit;
		color: white;
		flex: 1;
		padding: space.$s1;
	}

	input:focus {
		border: space.$s0-1 solid color.$gray-500;
		border-radius: space.$s1;
	}
}

.showingEmptySubcategory {
	width: space.$s6;
	height: space.$s5;

	& img {
		display: none;
	}
}

.emptySubcategory {
	box-sizing: border-box;
	background-color: color.$primary-dark;
	padding: space.$s4 calc(space.$s2 + space.$s4 + space.$s6) space.$s4 space.$s2;
	border-bottom: space.$s0-1 solid color.$gray-500;
	display: flex;

	& input[type="text"] {
		// Reset
		margin-right: space.$s8;
		padding: 0;
		border: space.$s0-1 solid color.$gray-500;
		outline: none;
		background: none;
		font: inherit;
		color: white;
		flex: 1;
	}
}
