$primary-dark: #212529;
$primary-dark-transparent: #2125297a;
$secondary-dark: #1d2024;
$tertiary-dark: #343a40;


$gray: #adb5bd;
$light-gray: #dee2e6;
$green: #11a331;

$gray-100: #dee2e6;
$gray-500: #62676c;
$gray-700: #2f3133;
$gray-800: #212529;
$gray-900: #1d2024;

