$primary-dark: #212529;
$primary-dark-transparent: #21252900;
$primary-dark-transparent: #2125297a;
$secondary-dark: #1d2024;
$secondary-dark-transparent: #1d202482;
$tertiary-dark: #343a40;


$gray: #adb5bd;
$light-gray: #dee2e6;
$green: #11a331;

$gray-100: #dee2e6;

$gray-200: #adb5bd;
$gray-300: #999999;
$gray-400: #777777;
$gray-500: #555555;
$gray-600: #333333;
$gray-700: #111111;
$gray-800: #212529;
$gray-900: #1d2024;

$green-500: #11a331;

$red-500: #ff0000;



