@use "@styles/space";
@use "@styles/color";

.header {
	background-color: color.$secondary-dark;
	height: space.$s15;
	width: 100vw;
	position: absolute;
	top: 0;

	box-sizing: border-box;
	padding: space.$s2 space.$s2;

	display: flex;
	align-items: center;
	color: white;

	& > {
		height: 100%;
	}

	& button {
        padding: 0;
        border: none;
        background: none;
    }
}

.budgetPageHeader {
	height: calc(space.$s20 + space.$s15); 
}

.main {
	height: calc(100vh - space.$s15);	// 100vh - header.height
	width: 100vw;
	border-top: space.$s0-1 solid color.$gray-500;
	position: absolute;
	top: calc(space.$s15);
	bottom: space.$s15;
}

.budgetPageContent {
	height: calc(100vh - space.$s15 - space.$s20);
	top: calc(space.$s15 + space.$s20);
}
