@use "@styles/space";
@use "@styles/color";

.header {
	height: space.$s15;
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: color.$secondary-dark;
    border-bottom: space.$s0-1 solid color.$gray-500;
}

.budgetPageHeader {
	height: calc(space.$s20 + space.$s15); // = unassigned.height + topbar.height
}

.main {
	height: 100vh;
	padding-top: space.$s15;
	padding-bottom: space.$s15;
	box-sizing: border-box;
}

.budgetPageContent {
	padding-top: calc(space.$s20 + space.$s15);
}
