@use "@styles/space";
@use "@styles/color";
@use "@styles/font";



.budgetPageHeader {
	height: calc(space.$s20 + space.$s15); 
	flex-direction: column;
	padding: none;
}

.budgetPageContent {
	height: calc(100vh - space.$s15 - space.$s20);
	top: calc(space.$s15 + space.$s20);
}

.subpage {
	background-color: color.$secondary-dark;
	width: 0;
	height: 100vh;
	position: absolute;
	z-index: 200;
	top: 0;
	right: 0;
	overflow: hidden;
	white-space: nowrap;
}

.show {
	animation: slideInAnimation 0.5s forwards;
	& header {
		animation: slideInAnimation 0.5s forwards;
	}
	@keyframes slideInAnimation {
		0% {
			width: 0;
		}
		100% {
			width: 100vw;
		}
	}
}

.hide {
	animation: slideOutAnimation 0.5s forwards;
	& header {
		animation: slideOutAnimation 0.5s forwards;
	}
	@keyframes slideOutAnimation {
		0% {
			width: 100vw;
		}
		100% {
			width: 0%;
		}
	}
}

.loading {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		width: space.$s10;
		height: space.$s10;
		animation: spin 1s linear infinite;
	}

	@keyframes spin {
		from {
		  transform: rotate(0deg);
		}
		to {
		  transform: rotate(360deg);
		}
	  }
}

.options {
	background-color: color.$secondary-dark-transparent;
	height: 100vh;
	width: 0;
	position: absolute;
	z-index: 300;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
}
